---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/beers?key=c04edc1c5e599294950009398daa7163&name=Cutthroat%20Porter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '390'
    body:
      encoding: ASCII-8BIT
      string: '{"currentPage":1,"numberOfPages":1,"totalResults":1,"data":[{"id":"XXgGZ4","name":"Cutthroat
        Porter","nameDisplay":"Cutthroat Porter","description":"Not quite a stout
        but definitely no lightweight, Cutthroat Porter is smooth and robust. Inspired
        by the classic London porters, we use dark roasted malts to create a deep,
        rich color and flavor that hint at chocolate and coffee. We named it Cutthroat
        Porter as our tribute to the Colorado state fish \u2013 with its own rich
        heritage and unmistakable dark coloring. And while we\u2019re big fans of
        small batches, here\u2019s to the currently threatened Cutthroat population
        reaching mass quantities.","abv":"5.1","ibu":"43","glasswareId":5,"availableId":1,"styleId":18,"isOrganic":"N","labels":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/XXgGZ4\/upload_2Mh3c3-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/XXgGZ4\/upload_2Mh3c3-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/XXgGZ4\/upload_2Mh3c3-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:43:02","updateDate":"2015-12-15 20:18:16","glass":{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},"available":{"id":1,"name":"Year Round","description":"Available
        year round as a staple beer."},"style":{"id":18,"categoryId":1,"category":{"id":1,"name":"British
        Origin Ales","createDate":"2012-03-21 20:06:45"},"name":"Brown Porter","shortName":"Brown
        Porter","description":"Brown porters are mid to dark brown (may have red tint)
        in color. No roast barley or strong burnt\/black malt character should be
        perceived. Low to medium malt sweetness, caramel and chocolate is acceptable
        along with medium hop bitterness. This is a lightto medium-bodied beer. Fruity
        esters are acceptable. Hop flavor and aroma may vary from being negligible
        to medium in character.","ibuMin":"20","ibuMax":"30","abvMin":"4.5","abvMax":"6","srmMin":"20","srmMax":"35","ogMin":"1.04","fgMin":"1.006","fgMax":"1.014","createDate":"2012-03-21
        20:06:45","updateDate":"2015-04-07 15:21:43"}}],"status":"success"}'
  recorded_at: Wed, 27 Jul 2016 17:01:54 GMT
recorded_with: VCR 3.0.3
