---
http_interactions:
- request:
    method: get
    uri: http://api.brewerydb.com/v2/beer/random?key=c04edc1c5e599294950009398daa7163
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '285'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Request Successful","data":{"id":"piok65","name":"Golden
        Sabbath","nameDisplay":"Golden Sabbath","description":"A Belgian-style strong
        golden ale with a wondrous range of fruit flavors like plum, apricot, and
        cherry imparted by special Belgian yeast. Traditionally served in special
        goblets this style of beer can turn an ordinary lunch into an extraordinary
        event and a slow Sunday afternoon into a special Golden Sabbath.","abv":"8.5","ibu":"30","glasswareId":5,"availableId":4,"styleId":63,"isOrganic":"N","labels":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/piok65\/upload_jF4gfa-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/piok65\/upload_jF4gfa-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/piok65\/upload_jF4gfa-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:43:17","updateDate":"2015-12-16 13:33:16","glass":{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},"available":{"id":4,"name":"Seasonal","description":"Available
        at the same time of year, every year."},"style":{"id":63,"categoryId":5,"category":{"id":5,"name":"Belgian
        And French Origin Ales","createDate":"2012-03-21 20:06:46"},"name":"Belgian-Style
        Pale Strong Ale","shortName":"Belgian Pale Strong","description":"Belgian
        pale strong ales are pale to golden in color with relatively light body for
        a beer of its alcoholic strength. Often brewed with light colored Belgian
        \"candy\" sugar, these beers are well attenuated. The perception of hop bitterness
        is medium-low to medium -high, with hop flavor and aroma also in this range.
        These beers are highly attenuated and have a perceptively deceiving high alcoholic
        character-being light to medium bodied rather than full bodied. The intensity
        of malt character should be low to medium, often surviving along with a complex
        fruitiness. Very little or no diacetyl is perceived. Herbs and spices are
        sometimes used to delicately flavor these strong ales. Low levels of phenolic
        spiciness from yeast byproducts may also be perceived. Chill haze is allowable
        at cold temperatures.","ibuMin":"20","ibuMax":"50","abvMin":"7","abvMax":"11","srmMin":"4","srmMax":"10","ogMin":"1.064","fgMin":"1.012","fgMax":"1.024","createDate":"2012-03-21
        20:06:46","updateDate":"2015-04-07 15:32:16"}},"status":"success"}'
  recorded_at: Wed, 27 Jul 2016 19:30:41 GMT
recorded_with: VCR 3.0.3
