<h1 class="content-header" id="nav-links">Styles of Beers</h1>
<br>

<div class="container text-center">

<% cache "#{@styles.count}" do %>
  <% @styles.each do |style| %>
    <div class="col-md-4">
      <div class="info-card">

      <h4 class="text-center"><%= link_to style.name, style_path(style.style_id), id: "card-links" %></h4>
      <p>
        <%= truncate(style.description, :length => 200) %>
      </p>
    </div>
    </div>
  <% end %>
  </div>
<% end %>
