
<h3>Search for a brewery by name</h3>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <hr>
    <div class="form-group brew-name-search">
      <input class="form-control" type="text" id="brewery-name">
    </div>
    <input class="btn btn-default pull-right" id="brew-search-by-name" type="button" name="submit" value="Search By Name">
  </div>
  <div class="col-sm-2"></div>
</div>
</div>


<div class="breweries row">
</div>
