<% cache "#{@brewery.name} - #{@brewery.beers.count}" do %>

<div class="container">
  <div class="header-box">
    <h1 class='text-center'><%= @brewery.name %></h1>
    <div class="text-center">
      <p ><%= @brewery.description %></p>
    </div>
  </div>


<h3 class="text-center"> <%= @brewery.name %> Beers:</h3>
  <ul class="list-group">
    <% @brewery.beers.each do |beer| %>
    <li class="list-group-item beer-name-list"><%= link_to beer.name, beer_path(beer.beer_id) %></li>
    <% end %>
  </ul>
</div>
<% end %>
