<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="nav-links" href="/">BeerExplorer</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><a href="/dashboard" id="nav-links">Signed in as <%= current_user.name %></a></li>
        <li><a href="/signout" id="nav-links">Sign Out</a></li>
        <% else %>
        <li><a href="/auth/google_oauth2" id="nav-links">Sign in with Google</a></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="nav-links" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Start Exploring <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/beers" id="nav-links">Beers</a></li>
            <li><a href="/breweries" id="nav-links">Breweries</a></li>
            <li><a href="/styles" id="nav-links">Styles</a></li>
            <li><a href="/ratings" id="nav-links">Rated Beers</a></li>
            <% if current_user %>
              <li role="separator" class="divider"></li>
              <li><a href="/dashboard" id="nav-links">Profile</a></li>
            <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
